

.d-flex {
    display: flex;
}

.app {
    padding: 20px;
}

.btn {

    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
    display: block;
    height: 45px;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
